/*!
   cool-checkboxes-for-bulma.io v1.1.0: Cool Checkboxes for Bulma.io
   (c) 2017 
   MIT License
   
   SOURCE:
   https://github.com/hunzaboy/Cool-Checkboxes-for-Bulma.io
   
*/
@charset "UTF-8";
.b-checkbox {
  position: relative;
}

.b-checkbox label {
  padding-left: 5px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
}

.b-checkbox label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 1px;
  border: 4px solid #89bde2;
  border-radius: 3px;
  background-color: #fff;
}

.b-checkbox label::after {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 3px;
  font-size: 12px;
  color: #363636;
}

.b-checkbox input[type="checkbox"],
.b-checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.b-checkbox input[type="checkbox"]:focus + label::before,
.b-checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.b-checkbox input[type="checkbox"]:disabled,
.b-checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.b-checkbox input[type="checkbox"]:disabled + label,
.b-checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.b-checkbox input[type="checkbox"]:disabled + label::before,
.b-checkbox input[type="radio"]:disabled + label::before {
  background-color: whitesmoke;
  cursor: not-allowed;
}

.b-checkbox.is-circular label::before {
  border-radius: 50%;
}

.b-checkbox.is-inline {
  display: inline-block;
  font-weight: normal;
}

.b-checkbox.is-inline + .is-inline {
  margin-left: 10px;
}

.is-dot input[type="checkbox"]:checked + label::before {
  background-color: #244362;
  border-color: #89bde2;
}

.is-dot input[type="checkbox"]:checked + label::after {
  color: #fff;
  border-color: #89bde2;
}

input[type="checkbox"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after {
  color: #fff;
}


/*
*  Removing symbols from checkboxes
*/

/* 
.b-checkbox input[type="checkbox"]:checked + label::after,
.b-checkbox input[type="radio"]:checked + label::after {
  content: "✔";
}

input[type="checkbox"].styled:checked + label::after {
  font-family: "FontAwesome";
  content: "";
}
*/