/*  730x788px base_image
/ 1390px
*/

body {
	/* font-family: 'Arial Black', Gadget, sans-serif; */
	font-family: 'Lucida Console', Monaco, monospace;
}

hr {
	height: 2px;
	background-color: #7db8e4;
	border: none;
}

p.mandatory {
	font-size: 2.8em;
	letter-spacing: 0.4em;
	padding-left: 40px;
	color: #ce3730;
}

input.boxed {
  background: transparent;
  border: 4px solid #7db8e4;
}

input.memory {
  outline: 0;
  border: 0;
  border-bottom: 4px solid #7db8e4;
}

#avatar {
	border: 2px solid #7db8e4;
	margin-left: 5px;
	margin-bottom: 20px;
}

.div-box {
	border: 2px solid #7db8e4;
	margin-bottom: 15px; 
}

.div-box-head {
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 20px;
	color: #89bde2;
	background-color: #e1f3fd;
}

.div-box-content {
	padding: 1em 2em 2em 2em;
}

.container {
	margin-bottom: 15px;
}

.separator-left {
	font-size: 2em;
	padding: 8px 20px;
	color: #fff;
	background-color: #244362;	
}

.separator-right {
	font-size: 2em;
	padding: 8px 20px;	
	color: #244362;
	background-color: #7db8e4;
}

.textarea {
	border: 2px solid #7db8e4;
}
